@import "./assets/themes/css/darkgreen.css";

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: white;
}

body, html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  height: 100%;
}