<div class="observablecontent">
    <div class="left">
      <img *ngIf="observable.type===0" [src]="icon_path | safe: 'url'" />
      <img *ngIf="observable.type===1" src="assets://img/svg icons/folder_3.svg" />
    </div>

    <div *ngIf="observable.type===0">
      <img [src]="icon_path | safe: 'url'" />
    </div>

    <div class="middle">
      <a>{{short_path}}</a>
    </div>

    <div class="right">
        <mat-chip-list *ngIf="observable.type===1">
          <mat-chip color="primary" selected="true">Synchronized</mat-chip>
        </mat-chip-list>

        <mat-spinner *ngIf="observable.type===0" [diameter]=40></mat-spinner>
    </div>
</div>