<mat-card id="card">
  <div id="content">
      <div id="left">
          <a id="day">{{day}}</a>
          <div id="divMonthYear">
            <a id="month">{{month}}</a>
            <a id="year">{{year}}</a>
          </div>
      </div>
    
      <div id="middle">
        <a>Last Update</a>
        <a id="time">{{time}}</a>
      </div>
    
      <div id="right">
        <div id="statsdir">
          <i class="material-icons" style="font-size:48px;">folder</i>
          <a id="cntdir" class="statcnt">{{cntDir}}</a>
        </div>
    
        <div id="statsfile">
            <i class="material-icons" style="font-size:48px;">attachment</i>
            <a id="cntfile" class="statcnt">{{cntFile}}</a>
        </div>
      </div>
    </div>
</mat-card>