.mat-fab-bottom-right {
  top: auto !important;
  right: 20px !important;
  bottom: 10px !important;
  left: auto !important;
  position: fixed !important;
}

#content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#observables {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appobservable {
  width: 70%;
  height: 60px;
  margin-bottom: 10px;
}